* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 28px;
    color: #000;
    font-weight: 600;

}

p {
    font-size: 16px;
    line-height: 1.45;
    font-weight: 300;
    color: #000;

}

@media (min-width: 1000px) {
    p {
        font-size: 22px;
    }
}

p, h1 {
    padding: 0 15px;
}

.main {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0;
}

.photo {
    max-width: 100%;
}

.img {
    text-align: center;
}

#date {
    padding: 0 15px;
}

.header {
    width: 100%;
    /*height: 54px;*/
    background: white;
}

.header-inner {
    max-width: 900px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: inherit;
    margin: 0 auto;
}

.black {
    font-weight: bold;
}

.red {
    color: #eb1e25;
    font-weight: bold;
}

.button {
    display: block;
    border: 3px solid #eb1e25;
    background-color: #eb1e25;
    border-radius: 30px;
    max-width: 250px;
    width: 100%;
    min-height: 66px;
    padding: 20px 40px;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.comments {
    background: #eeeeee;
    padding: 15px;
}

.comments-inner {
    max-width: 960px;
    margin: 0 auto;
}

.comments__title {
    text-align: center;
}

.comment {
    display: flex;
    margin-bottom: 40px;
}

.comment-avatar {
    margin-right: 14px;
}

.comment-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

@media (min-width: 1000px) {
    .comment-avatar img {
        width: 80px;
        height: 80px
    }
}

.comment-content {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    width: 100%;
}

.comment-name {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 7px;
}

.comment-text {
    font-size: 12px;
    font-weight: 300;
}

@media (min-width: 1000px) {
    .comment-text, .comment-name {
        font-size: 16px;
    }
}

.footer {
    padding: 50px;
    text-align: center;
    background: #171717;
    color: #fff;
}

.social {
    padding: 0 15px;
}

.social-item {
    padding: 6px 13.5px;
    margin-right: 3px;
}

.social--google {
    display: inline-flex;
    border-radius: 3px;
    background-color: #eb1e25;
}

.social--google img {
    width: 20px;
    height: 20px;
}

.social--twitter {
    display: inline-flex;
    border-radius: 3px;
    background-color: #00b6ea;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.social--twitter img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.social--facebook {
    display: inline-flex;
    border-radius: 3px;
    background-color: #3c5ba0;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.social--facebook img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.inlineMenu {
    list-style: none;
    padding: 0;
}

.inlineMenu li {
    float: left;
    margin: 0 0 0 13px;
    color: #000;
    text-decoration: none;
    background: transparent none;
}

.inlineMenu li a {
    font-size: 80%;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    background: transparent none;
}

.logo {
    padding-top: 20px;
}
.mob{
    display: none;
}
@media (max-width: 760px) {
    .disNone{
        display: none;
    }
    .mob{
        display: block;
    }
}
@media (min-width: 1300px) {
    .desk{
        display: none;
    }
    .mob{
        display: block;
    }
}